<% provide(:title, 'Chi Siamo') %>
<h1>Chi Siamo</h1>
<p>
	Questa app permette di effettuare l' offerta e la domanda di preventivi. Questa applicazione è solo un esempio delle funzionalità di base.
</p>