<footer class="footer">
  <small>
    <a href="#">My New App</a>
    by Alessandro Dimich
  </small>
  <nav>
<ul>
<li><%= link_to "Su di noi", about_path %></li>
<li><%= link_to "Contatti", contact_path %></li>
<li><a href="#">News</a></li>
</ul> </nav>
</footer>